* {
  background-color: blanchedalmond;
}
nav {
  color: dodgerblue;
  font-weight: 300;
  border-style: none;
}
h1 {
  font-weight: 1000;
  margin: 30px 30px 30px 30px;
  font-size: 25px;
  color: rgb(198, 218, 26);
}
.title {
  text-align: center;
  font-size: large;
}
span a {
  color: brown;
  text-decoration: dotted;
}
a {
  color: black;
}
iframe {
  border: 8px;
  border-color: grey;
  border-style: groove;
}
.lesboutons {
}
.but {
  background-color: rgb(173, 173, 173);
  padding: 10%;
  border-radius: 10px;
}
.but:hover {
  background-color: aqua;
}
